<div class="details">
  <div class="d-flex justify-content-between">
    <h2 class="name">Liste des commandes</h2>
    <div class="">
      <button class="text-light bouton btn btn-sm " type="button" (click)="onRefresh()">Rafraîchir <i class="fas fa-duotone fa-arrows-rotate"></i></button>
    </div>
    
  </div>
  
  <div class="List">
    <form [formGroup]="orderForm">
      <table class="table hover table-responsive">
        <thead class="table-secondary">
          <tr>
            <th scope="col">N⁰</th>
            <th scope="col">Nom</th>
            <th scope="col">Nom de l'Etudiant</th>
            <th scope="col">Type de carte</th>
            <th scope="col">Date de soumission</th>
            <th scope="col">Date de validation</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders" class="ligne-cliquable" (click)="openOrderDialog(order)">
            <td>{{ order.id }}</td>
            <td>{{ order.name }}</td>
            <td>{{ order.studentName }}</td>
            <td>{{ order.cardName }}</td>
            <td>{{ order.submissionDate | date }}</td>
            <td>{{ order.validationDate | date }}</td>
            <td>{{ order.statusName }}</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>

